body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.header-links {
    display: flex;
    gap: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero-container {
    background-color: #1f2937;
    max-width: 100%;
    padding: 0 180px;
}
